{% extends 'layouts/base.html' %}

{% block body %}
<div class='pure-u-1'>
	<p><b>You have successfully registered for SOCALLT 2017.</b></p>
	<p>If you have chosen to pay by check or PO, please send your check or PO to:
	<p class='address'>
		Sharon Wilkes - SOCALLT Treasurer<br>
		University of Central Arkansas<br>
		Irby Hall 207<br>
		201 Donaghey Ave<br>
		Conway, AR 72035<br>
		<a href='mailto:sharonw@uca.edu'>sharonw@uca.edu</a>
	</p>
	<p>In the case that you need to pay credit card, you may also return at a later date and pay through your login. We look for to seeing at the conference!
	<p>
	Sincerely,<br>
	<b>SOCALLT Officers</b><br>
	<b><a href='mailto:socalltofficers@gmail.com'>socalltofficers@gmail.com</b></a>
	</p>
</div>
{% endblock %}