<!DOCTYPE html>
<html>
<head>
	<title>SOCALLT Members</title>
	<link rel="stylesheet" href="{{ url_for('static',filename='css/spectre.min.css') }}"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css')}}"/>
	<link rel="stylesheet" href="{{ url_for('static',filename='css/font-awesome-4.6.3/css/font-awesome.min.css') }}"/>
	<link rel='stylesheet' href="{{ url_for('static',filename='css/styles.css') }}"/>
	<script src="
	{{ url_for('static',filename='js/jquery-3.1.1.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static',filename='js/validations.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static',filename='js/script.js') }}"></script>
</head>
<body class='container-fluid'>
		<div class='registrationHeader'>
			<h1>SOCALLT  Registration</h1>
		</div>
	<div class='row content'>
		<div class=''></div>
		<div class='col-xs-10 col-sm-6'>
			<div id='register-form' data-id='cool'>
				<form action='/register' method='POST'>
					{% with messages = get_flashed_messages(category_filter=['regisErr']) %}
						{% for message in messages %}
							<p class='error'>{{ message }}</p>
						{% endfor %}
					{% endwith %}

					<!-- registration page 1 -->
					<input type='hidden' id='conference' >
					<h2>Register</h2>
					<div class='form-content' id='page1'>
						<h5>User Information</h5>
						<div class='form-group'>
							<label class='form-label' for='first_name'>First Name:</label>
							<input class='form-input col-xs-12' type="text" id="first_name" name="first_name" >
						</div>
						<div class='form-group'>
							<label class='form-label' for='last_name'>Last Name:</label>
							<input class='form-input' type="text" name="last_name" id="last_name" value="{{ session['last_name'] }}">
						</div>
						<div class='form-group'>
							<label class='form-label' for='email'>Email:</label>
							<input class='form-input' type="email" name="email" id="email">
						</div>
						<div class='form-group'>
							<label class='form-label' for='password'>Password:</label>
							<input class='form-input' type="password" name="password" id='password'>
						</div>
						<div class='form-group'>
							<label class='form-label' for='confirm_password'>Confirm Password:</label>
							<input class='form-input' type="password" name="confirm_password" id='confirm-password'>
						</div>
						<div class='btn-group'>
							<button class='btn primary continue' type='button'>Continue<i class="fa fa-arrow-circle-right" aria-hidden="false"></i></button>
						</div>
					</div>

					<!-- registration page 2 -->
					<div class='form-content' id='page2'>
						<h5>Contact Information</h5>
						<div class='form-group'>
							<label class='form-label' for='street1'>Address 1:</label>
							<input class='form-input' type="text" name="street1" id="street1" value="{{ session['street1'] }}">
						</div>
						<div class='form-group'>
							<label class='form-label' for='street2'>Address 2:</label>
							<input class='form-input' type="text" name="street2" id="street2" value="{{ session['street2'] }}">
						</div>
						<div class='form-group'>
							<label class='form-label' for='city'>City:</label>
							<input class='form-input' type="text" name="city" id="city" value="{{ session['city'] }}">
						</div>
						<div class='form-group'>
							<label class='form-label' for='state'>State:</label>
							<select class='form-select' name='state'>
								{% for state in states %}
									<option value="{{ state['id'] }}">{{ state['abbrev'] }}</option>
								{% endfor %}
							</select>
						</div>
						<div class='form-group'>
							<label class='form-label' for='zip'>Zip:</label>
							<input class='form-input' type="text" name="zip" id="zip" value="{{ session['zip'] }}">
						</div>
						<h5>Institution Information</h5>
						<div class='form-group'>
							<p>Select your institution:</p>
							<select class='form-select' name='institution' id='institution'>
								<option value='' id='other1'></option>
							{% for instution in institutions %}
								<option value="{{ institution['id']}}">{{ institution['name'] }}</option>
							{% endfor %}
								<option value='other' id='other'>Other</option>
							</select>
						</div>
						<div id='inst-info'>
							<div class='form-group'>
								<label class='form-label' for='inst-name'>Name:</label>
								<input class='form-input' type="text" name="inst-name" value="{{ session['inst-name'] }}">
							</div>
							<div class='form-group'>
								<label class='form-label' for='inst-state'>State:</label>
								<select class='form-select' name='inst-state'>
									{% for state in states %}
										<option value="{{ state['id'] }}">{{ state['abbrev'] }}</option>
									{% endfor %}
								</select>
							</div>
						</div>
						<div class='btn-group btn-group-block'>
							<button class='btn' type='button'><i class="fa fa-arrow-circle-left" aria-hidden="false"></i> Previous</button>
							<button class='btn primary continue' type='button'>Continue<i class="fa fa-arrow-circle-right" aria-hidden="false"></i></button>
						</div>
						<br>
					</div>

					<!-- registration page 3 -->
					<div id='page3' class='form-content'>
						<h5>Conference Information</h5>
					    <div class="form-group">
					        <label class="form-label">Lunch Options</label>
					        <label class="form-radio">
					            <input type="radio" name="lunch" checked/>
					            <i class="form-icon"></i> 
					            Regular
					        </label>
					        <label class="form-radio">
					            <input type="radio" name="lunch" />
					            <i class="form-icon"></i> 
					            Vegan
					        </label>
					        <label class="form-radio">
					            <input type="radio" name="lunch"/>
					            <i class="form-icon"></i> Vegetarian
					        </label>
					        <label class="form-radio">
					            <input type="radio" name="lunch"/>
					            <i class="form-icon"></i> No lunch
					        </label>
					    </div>
						<div class='form-group'>
							<label class="form-switch">
	           					<input type="checkbox" id='gluten'/>
	            				<i class="form-icon"></i>&nbsp;&nbsp;&nbsp;&nbsp;
	            				Gluten Free
	        				</label>
						</div>
						<div class='form-group'>
							<label class='form-label' for='pay'>Payment Options:</label>
							<select class='form-select' name='pay'>
								<option></option>
								<option value='check-PO'>Check, Purchase Order</option>
								<option value='credit-debit'>Credit/Debit Card</option>
							</select>
							<p>*The next screen will provide you with more payment information</p>
						</div>
						<div class='container'>
							<div class='columns'>
								<div class='form-group column col-3'>
									<label class='form-label' for='regis-type'>Registration Type:</label>
									<select class='form-select' name='regis-type'>
										<option></option>
										<option value='student'>Student</option>
										<option value='professional'>Professional</option>
										<option value='vendor'>Vendor/Exhibitor/Industry Rep.</option>
									</select>
								</div>
								<div class='column col-xs-1'></div>
								<div class='form-group column col-3'>
									<label class='form-label' for='regis-len'>Days:</label>
									<select class='form-select' name='regis-len'>
										<option></option>
										<option value='friday'>Friday Only</option>
										<option value='saturday'>Saturday Only</option>
										<option value='vendor'>Entire Conference</option>
									</select>
								</div>

							</div>
						</div>
						<div class='btn-group btn-group-block'>
							<button class='btn' type='button'><i class="fa fa-arrow-circle-left" aria-hidden="false"></i> Previous</button>
							<button type='button' id='register' class='btn btn-primary continue'>Register</button>
						</div>
					</div>
				</form>
			</div>

		<!-- Login Form -->
			<div class='' id='login-form'>
				<form action='/login' method='POST'>
					{% with messages = get_flashed_messages(category_filter=['loginErr']) %}
						{% for message in messages %}
							<p class='error'>{{ message }}</p>
						{% endfor %}
					{% endwith %}
					<h2>Login</h2>
					<div class='form-group'>
						<label class='form-label' for='email'>Email:</label> 
						<input class='form-input' type="text" name="email" value="{{ session['email'] }}">
					</div>
					<div class='form-group'>
						<label class='form-label' for='password'>Password:</label>
						<input class='form-input' type="password" name="password">
					</div>
					<button class='btn btn-primary' id='login'>Login</button>
				</form>
			</div>
		</div>
		<div class='column col-xs-1'></div>
		<div class='col-xs-10 col-sm-4 p-t-15'>
			<div id='show-register'>
				<h4>Never been to a SOCALLT conference or new to our online system?</h4>
				<button class='btn btn-sm btn-link' data-id='register'>Register</button>
			</div>
			<div id='show-login' class="col-xs-10 ">
				<h4>Already a member and logged in before?</h4>
				<button class='btn btn-sm btn-link' data-id='login'>Login</button>
			</div>
			<div id='prices'>
				<h6>Prices</h6>
				<ul>
					<li><b>Student: 1 Day - $20; Conference - $40</b></li>
					<li><b>Professional: 1 Day - $35; Conference - $70</b></li>
					<li><b>Vendor/Exhibitor/Industry Rep: 1 Day - $35; Conference - $70</b></li>
				</ul>
			</div>
		</div>
		<div class='column col-xs-1'></div>
	</div>
</body>
</html>