{% extends 'layouts/dashboard-layout.html' %}
{% block head %}
	{{ super() }} 

{% endblock %}
{% block content %}
		<div class='pure-g'>
			<div class='pure-u-1-24'></div>
			<div class='pure-u-22-24'>
				<h2>SOCALLT Members</h2>	
				<div class='pure-g'>
					<h4 class='pure-u-1-6'><i>Total: {{ members | length }}</i></h4>
					<h4 class='pure-u-1-6'><i>Active: {{ active  }}</i></h4>
					<h4 class='pure-u-1-6'><i>Inactive: {{ inactive }}</i></h4>
				</div>
				<div class='pure-g'>
					<table class='pure-table pure-table-striped pure-u-1'>
						<thead>
							<tr>
								<th>Name</th>
								<th>Email</th>
								<th>City</th>
								<th>State</th>
								<th>Mark Paid</th>
							</tr>
						</thead>
						<tbody>
						{% for mem in members %}
							<tr>
								<td>{{ mem.first_name}} {{mem.last_name}}</td>
								<td>{{ mem.email }}</td>
								<td>{{ mem.address.city }}</td>
								<td>{{ mem.address.state.abbrev }}</td>
								<td>
								{% if not mem.active %}
									<a class='pure-button' href='#'>Activate</a>
								{% endif %}
								</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>	
			</div>
			<div class='pure-u-1-24'></div>
		</div>
{% endblock %}
