#login-form, #show-register, #prices, #page2, #page3 {
	display: none;
}

.form-content div *{
	margin-left: 5%;
}

#inst-info {
	display: none;
	background-color: grey;
}

ul {
	list-style-type: none;
}
/*SOCALLT Green #39b237*/



