{% extends 'layouts/dashboard-layout.html' %}
{% block head %}
	{{ super() }} 

{% endblock %}
{% block content %}
	{% block conference_data %}{% endblock %}

	<div class='pure-u-7-8'>
		<div class='pure-g'>
			<div class='pure-u-1-12'></div>
			<div class='pure-u-5-12'>
				<h2>Membership Information</h2>
				<table class='pure-table pure-table-striped'>
					<tr>
						<td><b>Name</b></td>
						<td>{{member.first_name}} {{member.last_name}}</td>
					</tr>
					<tr>
						<td><b>Email</b></td>
						<td>{{member.email}}</td>
					</tr>
					<tr>
						<td><b>Address</b></td>
						<td>
							{{ member.address.street1 }}<br>
							{% if member.address.street2 != '' %}
								{{ member.address.street2 }}<br>
							{% endif %}
							{{ member.address.city }}, {{ member.address.state.abbrev }} {{ member.address.zip }}
						</td>
					</tr>
					<tr>
						<td><b>Active?</b></td>
						{% if member.active %}
							<td>Yes</td>
						{% else %}
							<td>No</td>
						{% endif %}
					</tr>
				</table>
				<h3>Change Password</h3> 
				 <p class='password-error'>
				{% with errors = get_flashed_messages(category_filter=["passwordErr"]) %}
					{% if errors %}
						{% for message in errors %}
							{{ message }}
						{% endfor %}
                                	{% endif%}
				{% endwith %}
                                </p>
				 <p class='password-success'>
				{% with errors = get_flashed_messages(category_filter=["passwordSuccess"]) %}
					{% if errors %}
						{% for message in errors %}
							{{ message }}
						{% endfor %}
                                	{% endif%}
				{% endwith %}
                                </p>
          			<form class="pure-form pure-form-stacked" action='/members/{{ member.id }}/change_password' method='POST'>
                			<input type='hidden' name='_csrf_token' value='{{ csrf_token() }}'>
					<label for='password'>New Password</label>
					<input type='password'name='password'>
                			<label for='password'>Confirm Password</label>
					<input type='password' name='confirm-password'>
                			<button class='pure-button btn-primary' type='submit'>Submit</button>
          			</form>
			</div>
			<div class='pure-u-1-6'></div>
			<div class='pure-u-1-6'>
				<p>Need to pay for your conference registration?</p>
				<a class='pure-button custom-button' href="/conferences/{{ data['conf'].id }}/payment">Find out how</a>
			</div>
		</div>
	</div>

{% endblock %}
