*{
	padding: 0;
	margin: 0;
	font-family: Open Sans, Helvetica, Arial;
	font-size: 1em;
}
#container{
	font-size: 1.8em;
}
.header{
	background-color: #fff;
}
.welcome{
	font-size: 1.65em;
	margin:0;
	padding: 16px 0 0;
	display: inline-block;
}
.login{
	margin: 0;
	padding: 0 0 0 10px;
	font-size: .27em;
}
.logo{
	margin: 18px 0 0;
	vertical-align: top;
	display: inline-block;
	border:1px solid silver;
}
.nav>ul{
	background-color: #000;
	padding: 0 3% 0;
	width: 100%;
	text-align: center;
	margin: 0;
}
.nav>ul >li {
	color: #dedfe0;
	font-size: .5em;
	display: inline-block;
	text-align: right;
	margin: 0;
	text-align: center;
}
.nav li:hover{
	color: #47935a;
}
.sub_conferences, .sub_account{
	float: center;
	display: none;
	padding: 0;
	margin: 0;
	z-index: 1;
	position: absolute;
	background-color: #000;
	list-style-type: none;
	left:-10%;
}
.sub_conferences>li, .sub_account > li{
	font-size: .9em;
	padding: 5px 0;
	color: #fff;
	margin: 0 30px;
}
.nav_profile{
	/*text-align: center;*/
	margin: 0;
	margin-bottom: 40px;
}
.nav_profile> li{
	display: inline-block;
	text-align: center;
	text-decoration: underline; 
}
.nav_profile >li:first-child{
	text-align: right;
}
.nav_profile >li:last-child{
	text-align: left;
}
.membership{
	display: none;
}
.content{
	padding: 0 10px;
	}
.content h3{
	text-align: center;
}
.presentations_info, .account_info{
	display: none;
}
.presentation_new{
	margin: 50px 0 0 60px;
}
textarea{
	margin-bottom: 30px;
}
.edit_profile{
	/*margin: 40px;*/
}
.registrationHeader{
	border-bottom: 4px solid #000;
	text-align: center;
}
.registrationHeader h1{
	margin: 0;
	padding: 3% 0;
}

@media (min-width: 500px){
	.header{
		padding: 16px 20px 0; 
		font-size: 1.6em;
	}
	.login{
		font-size: .2em;
	}
	.nav >ul{
		text-align: right;
	}
	.nav >ul>li{
		padding: 0 10px;
		font-size: .6em;
	}
}

@media (min-width: 768px){
	body{
		background-color: #edeeed;
	}
	#container{
		margin: 0 10%;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
	.content{
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		background-color: #fff;
		margin: 0 10%;
		height: 700px;
	}
	.header{
		padding: 12px 20px 0;
	}
	.logo{
		width: 140px;
	}
	.nav >ul{
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
	}
	.content h3{
		font-size: 2.5em;
	}
	.registrationHeader{
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		background-color: #fff;
		margin: 0 10%;
		height: 100px;
		padding: 0 10px;
		border-bottom: 4px solid #000;
	}
	.p-t-15{
		padding-top: 15rem;
	}
}

@media (min-width: 1200px){
	.header{
		font-size: 1.9em;
	}
	.nav >ul{
		padding: 0 60px 0 0;
	}	
	.nav>ul>li{
		padding: 0 37px;
	}
}
